h1{
    color:#FF7F00
}
.card {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2% 0;
        background: rgb(255, 255, 255);
        width: 30%;
        min-width: 30%; 
    }

    .lado{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

     .img{
      background-image: url("https://images.pexels.com/photos/358042/pexels-photo-358042.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
      background-size:90%;
      background-size: cover;
      background-position: center;
     }

mat-label{
    color: black;
}


.error {
    color: red;
}
.success{
    color: green;
}

mat-icon{
    margin-right:10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}


.botonCrear{
    width: 100%;
    background:#FF7F00;
    display: flex;
    justify-content: center;
    color: white;
}

.crear {
    display: flex;
    justify-content: flex-end;
}

.formu {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

@media (max-width: 992px) {
    .img{
        display: none;
    }

    .card{
        border: none;
        box-shadow: none;
    }
    .bck{
        
        height: 100vh;
    }

    .card{
        width: 100%;
        background-image: url("https://images.pexels.com/photos/358042/pexels-photo-358042.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
        
        
        
    }
    .formu{
        background-color: aliceblue;
        padding: 2%;
        
        
    }
}